[toolchain]
anchor_version = "0.32.1"

[features]
seeds = false
skip-lint = false

[programs.localnet]
privacy_pay = "11111111111111111111111111111111"
zk_verifier = "11111111111111111111111111111112"

[programs.devnet]
privacy_pay = "HPnAch9XaLsvKdtHtqEq4o5SAoDThCHd4zt9NCbmPKBw"
zk_verifier = "HuM2XCBAuNuswyWmTHH2igu1zbiPJm2vPrrgsio63pzZ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
